# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Glidero.iml
# Datasource local storage ignored files
/../../../../../../../:\github\prjs-uon\Glidero\.idea\.idea.Glidero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
