# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GliderGame-1.0.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\github\prjs-uon\GliderGame-1.0\.idea\.idea.GliderGame-1.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
